.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://www.missionbit.com/' target="MissonBit") MissonBit
			|&nbsp;Team Lights 2013

script(src='/js/vendor/bootstrap.js')
script(src='/js/spectrum.js')
script(src='/js/audiovisualizer.js')
script(src='/js/remoteaudioplayer.js')
script(src='/js/colors.js')
script(src='/js/hue.js')
script(src='/js/lights.js')

block footer