div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      div.navbar-header
        ul.nav.navbar-nav
          li
            a.navbar-brand(href="/")
             | Mission Bit: Team Lights
          li(class=title=='Home'?'active':undefined)
            a(href="/") Home
          li(class=title=='Lights'?'active':undefined)
            a(href="/lights") Lights Tester
          li(class=title=='About'?'active':undefined)
            a(href="/about") About
